* {
    box-sizing: border-box;
    /*margin: 5px 5px;*/
    padding: 0;
    /*border: 1px solid black;*/
}
.flex-container{
    display: flex;
}
body{
    /*border: 2px solid orange;*/
    font-family: sans-serif;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.upper-navbar {
    /*border: 2px solid green;*/
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
}
.center-stuff{
    /*border: 2px solid red;*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}
.lower-footer{
    /*border: 2px solid blue;*/
    padding: 15px;
    flex-direction: row;
    justify-content: space-between;
    height: 10%;
}

.navbar-left{
    width: 50%;
}
.navbar-right{
    width: 50%;
    justify-content: flex-end;
}

.page-link {
    text-decoration: none;
    color: rgb(85, 81, 81);
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.page-link:hover{
    text-decoration: underline;
}

.search-bar{
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    border: 1px solid rgb(223, 219, 219);
    text-align: center;
}
.search-bar:hover{
    width: 602px;
    padding: 11px;
    box-shadow: 0 0 2px 2px rgb(236, 236, 236);
}
.search-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.search-button:hover{
    border: 1px solid grey;
}

.footer-left, .footer-right{
    justify-content: center;
}
button, footer{
    background-color: rgb(230, 230, 230);
}

.lower-footer a{
    padding-top: 8px;
}
.footer-center a{
    margin-bottom: 10px;
}
.navbar-right a{
    padding-top: 17px;
}