* {
    box-sizing: border-box;
    margin: 5px 5px;
    padding: 0;
    border: 1px solid black;
}
body{
    /*border: 2px solid orange;*/
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}
.upper-navbar, .lower-footer{
    height: 10%;
}
.center-stuff{
    height: 80%;
}
.upper-navbar {
    /*border: 2px solid green;*/
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar-left, .navbar-right{
    width: 50%;
}
.navbar-right img{
    width: 20px;
}
.navbar-link, .footer-link {
    text-decoration: none;
    color: rgb(85, 81, 81);
    text-align: center;
}

.navbar-link:hover, .footer-link:hover{
    text-decoration: underline;
}
.center-stuff{
    /*border: 2px solid red;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.google-logo{
    width: 250px;
}
.search-bar{
    border-radius: 20px;
    width: 600px;
    padding: 10px;
    border: 1px solid rgb(223, 219, 219);
    text-align: center;
}
.search-bar:hover{
    width: 602px;
    padding: 11px;
    box-shadow: 0 0 2px 2px rgb(236, 236, 236);
}
.search-button{
    padding: 5px;
    border-radius: 5px;
    border: none;
}
.search-button:hover{
    border: 1px solid grey;
}
.lower-footer{
    /*border: 2px solid blue;*/
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-left, .footer-right{
    display: flex;
    justify-content: center;
}
button, footer{
    background-color: rgb(230, 230, 230);
}